<h1>hospital data</h1>

<form method="post" action="hospital_data">

<p>SHOP NAME <input type="text" name="t1" /></p>
<p>ADDRESS <input type="text" name="t2" /></p>
<p>PLACE <input type="text" name="t3" /></p>
<p>OWNER NAME <input type="text" name="t4" /></p>
<p> email <input type="text" name="t5" /></p>
<p>LIC NO <input type="text" name="t6" /></p>
<p>TIME <input type="text" name="t7" /></p>
<p><input type="submit" name="b1" value="register" /></p>
</form>




{% if bk %}
    <h2>{{bk}}</h2>
{% endif %}