
<style>

     #kota
	 {
	   background-color:#127E56;
	   color:#F9F;
	   font-family:"Times New Roman", Times, serif;
	   width:400px;
	   text-align:"center";
	   margin-bottom:0px;
	   border-radius:10px 10px 0px 0px;
	   cursor:pointer;


	 }


	 #f1
	 {
		 width:386px;
		 border:2px solid #9C3;
		 margin-top:0px;
		 padding:5px;
		 border-radius:0px 0px 10px 10px;
		 background-image:

	 }


	 #B1
	 {
		 color:#fff;
		 background-color:#06C;
		 font-family:"courier New";
		 font-size:24px;
		 padding-left:40px;
		 padding-right:40px;
		 padding-top:5px;
		 border-radius:15px;
		 width:200px;
		 margin-left:100px;
	 }

	 #T1,#T2
	 {
		 width:350px;
		 font-family:arial;
		 font-size:20px;
		 border-radius:10px;

	 }

	 #f1 p
	 {
		 font-family:verdana;
		 font-size:20px;
		 color:#000;
	 }


	 </style>
     <script src="D:\bhanu\flaskprojects\project1\templates"></script>
     <script type="text/javascript" >
     $(document).ready(function(e) {

     $("#f1").hide();


     $("#kota").click(function(){
	 $("#f1").toggle(2000);
	 });

     });






</script>
     </head>
<body>
<h1 id="kota" text align="center">HOSPITAL SECURITY</h1>
<form id="f1" name="form1" method="post" action="loginwsecurity">
    <p>  <strong>Email</strong>      <input type="text" name="T1" id="t1" /> </p>
    <p>  <strong>Password</strong>   <input type="text" name="T2" id="t2" /> </p>

<p> <input type="submit" id="B1" name="s1" value="submit" /></p>
</form>

