<h1>Doctor Appointed</h1>
<form action="page2" method="post" target="_blank" name="PT">
{% if data %}
    <h3> <strong>Doctor name:<u>{{data[0]}}</u></strong></h3>
        <p>1)Sitting hours:{{data[1]}}</p>
        <p>2)Adress:{{data[2]}}</p>
        <P>3)Days: {{data[3]}} </P>
    <p>4)Fees:<font style="color:#F03"><strong>{{data[4]}}</strong></font></p>

        <input type="hidden" name="H1" value="{{data[5]}}" />
{% endif %}
<!--jahan dikhana hai data vahan table data as according to seerial wose apne acccording to ourselves , aur jinja lagegi, append in fumction aur jahan se lenge vahan hidden-->
<!--hamesha html file ke andar action lagaya jaye to dusre wale ka lagaya jayega)(FOR ADDING EXTRA COMPONENTS ADD IN FILE SEARCH HIDDEN AND ALSO APPEND IN PYTHON -->
<!--patient details-->

<hr />
<h1>Patient booking details</h1>

    <p> This in-clinic <strong>Appointment</strong> is for:<br />
    <input type="radio" id="trp"/>
    <label for="trp">You</label><br />
    <input type="radio" id="rtd" name="gender" />
    <label for="rtd">Someone Else</label><br />
    </p>



    <p>  <strong>1)NAME:</strong><input type="text" name="T1" id="t1" required /> </p>
    <p>  <strong>2)MOBNO:</strong><input type="text" name="T2" id="t2" required /> </p>
    <P>  <strong>3)ADDRESS: </strong><input type="text" name="T3" id="t3" required></P>
    <P>  <strong>4)EMAIL: </strong><input type="text" name="T4" id="t4" required> </P>
    <P>  <strong>5)SYMPTOMS:</strong></P><select name="T5" REQUIRED>
        <OPTION>cough</OPTION>
        <OPTION>fevar</OPTION>
        <OPTION>rashes</OPTION>
        <OPTION>acnes</OPTION>
        <OPTION>chest pain</OPTION>
        <option>yellow eyes and nails</option>
        <option>constipation</option>
        <option>cold and shivering</option>
        <option>stomach pain</option>
        <option>broken/fracture bones</option>
        <option>depression,anxiety</option>
        <option>sore throat</option>
        <option>running nose</option>
        <option>headache</option>
        <option>erection/sex problems</option>
        <option>back pain</option>
        <option>hair loss</option>
        <option>diabetes</option>
        <option>obesity</option>
</select>


    <H2>6)APPOINTMENT DATE:</H2>
    <input type="date" name="T6">






    <H2><strong>7) SLOTS:</strong></H2>
<select name="time"  required>
    <option>Time</option>
    <OPTION><BUTTON>10:AM</BUTTON></OPTION>
    <OPTION><BUTTON>11:00AM</BUTTON></OPTION>
    <OPTION><BUTTON>12:PM</BUTTON></OPTION>
    <OPTION><BUTTON>4:PM</BUTTON></OPTION>
    <OPTION><BUTTON>5:PM</BUTTON></OPTION>
    <OPTION><BUTTON>5:30PM</BUTTON></OPTION>
    <OPTION><BUTTON>6:PM</BUTTON></OPTION>
    <OPTION><BUTTON>7:PM</BUTTON></OPTION>
</select>
    <p>8) DESCRIPTION:</p>
    <textarea class="form-control" id="comments" name="DESCRIPTION" MAXLENGTH="150" placeholder="DESCRIPTION" rows="5"></textarea><br>

</br>
</br>




     <input type="submit" value="Book Now" name="B1" />

</form>


{% if ts %}
<h2><a href="page3"> {{ts}}</a></h2>
{% endif %}
























<!-- <form method="post" action="search2">
            <input type="hidden" name="H1" value="{{data[3]}}" />
            <p>Choose time :
                <input type="radio" name="R1" value="10.30AM To 11.00AM" />10.30AM To 11.00AM
                <input type="radio" name="R1" value="11.00AM To 11.30AM" />11.00AM To 11.30AM
                <input type="radio" name="R1" value="11.30AM To 12.00Noon" />11.30AM To 12.00Noon
                <input type="radio" name="R1" value="12.00Noon To 12.30Noon" />12.00Noon To 12.30Noon
            </p>
            <input type="submit" name="B1" value="Book" />
        </form>
-->
