<h1>SHOWING DOCTOR NEAR YOU</h1>


<form method="post" action="search">
    <p>location <input type="text" name="T1" id="t1" placeholder="city" required /> </p>
    <p>Speciality
    <select name="A2">
        <option>GENERAL PHYSICIAN</option>
        <option>cardiaologist</option>
        <option>Orthopedic</option>
        <option>ENT specialist</option>
        <option>Dentist</option>
        <OPTION>Neurologist</OPTION>
        <OPTION>Dermatologist</OPTION>
    </select>
  </p>
    <p><input type="submit" name="B1" value="show doctors"/></p>
    </form>

<hr>
{% if d %}
    {% for data in d %}
<h2> <p><strong><u>Doctor name:{{data[0]}}</u></strong></p></h2>



    <h3>
        <p>1)Specialist:{{data[1]}}</p>
    <p>2)Sittinghours:{{data[2]}}</p>
    <p>3)Venue:{{data[3]}}</p>
    <p>4)Days:{{data[4]}}</p>
    <p>5)E-mail:{{data[5]}}</p>
        <p>6)fees:{{data[6]}}</p>
    <p>7)Experience:{{data[7]}}</p>


    </h3>

 <form method="post" action="search1" >
        <input type="hidden" name="H1" value="{{data[0]}}" />
        <input type="hidden" name="H2" value="{{data[2]}}" />
        <input type="hidden" name="H3" value="{{data[3]}}" />
        <input type="hidden" name="H4" value="{{data[4]}}" />
        <input type="hidden" name="H5" value="{{data[6]}}" />
        <input type="hidden" name="H6" value="{{data[5]}}" />
        <input type="submit" name="B1" value="Book" />
    </form>








<!--ab search1 ke liye alag se html file banegi aur search1 naam se python mai program likhenge-->
{% endfor %}

{% elif ms %}
    <h3>{{ms}}</h3>
{% endif %}






